@font-face {
	font-family:icomoon;src:url(/icon-svg/icomoon.eot?nmbapr);src:url(/icon-svg/icomoon.eot?nmbapr#iefix) format('embedded-opentype'),url(/static/icon-svg/icomoon_116a456.ttf?nmbapr) format('truetype'),url(/static/icon-svg/icomoon_5d90f0a.woff?nmbapr) format('woff'),url(/static/icon-svg/icomoon_90d6136.svg?nmbapr#icomoon) format('svg');font-weight:400;font-style:normal
}[class^=icon_],[class*=" icon_"] {
	font-family: icomoon!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon_zaozuosvg_logo:before {
	content: "\e93a";
	color: #a0a0a0
}

.icon_zaozuosvg_suggestion:before {
	content: "\e94f";
	color: #a0a0a0
}

.icon_zaozuosvg_suggestion2:before {
	content: "\e951";
	color: #a0a0a0
}

.icon_zaozuosvg_personal2:before {
	content: "\e950";
	color: #a0a0a0
}

.icon_zaozuosvg_collection2:before {
	content: "\e94d";
	color: #a0a0a0
}

.icon_zaozuosvg_personal:before {
	content: "\e94e";
	color: #a0a0a0
}

.icon_zaozuosvg_go:before {
	content: "\e93b";
	color: #a0a0a0
}

.icon_zaozuosvg_go2:before {
	content: "\e93c";
	color: #a0a0a0
}

.icon_zaozuosvg_up:before {
	content: "\e914";
	color: #a0a0a0
}

.icon_zaozuosvg_down:before {
	content: "\e913";
	color: #a0a0a0
}

.icon_zaozuosvg_contact:before {
	content: "\e912";
	color: #a0a0a0
}

.icon_zaozuosvg_map:before {
	content: "\e90d";
	color: #a0a0a0
}

.icon_zaozuosvg_bianji:before {
	content: "\e937";
	color: #a0a0a0
}

.icon_zaozuosvg_service2:before {
	content: "\e936";
	color: #a0a0a0
}

.icon_zaozuosvg_jingxuan:before {
	content: "\e935";
	color: #a0a0a0
}

.icon_zaozuosvg_invite:before {
	content: "\e92e";
	color: #a0a0a0
}

.icon_zaozuosvg_phone:before {
	content: "\e92f";
	color: #a0a0a0
}

.icon_zaozuosvg_write:before {
	content: "\e930";
	color: #a0a0a0
}

.icon_zaozuosvg_mail:before {
	content: "\e931";
	color: #a0a0a0
}

.icon_zaozuosvg_share:before {
	content: "\e932";
	color: #a0a0a0
}

.icon_zaozuosvg_share2:before {
	content: "\e933";
	color: #a0a0a0
}

.icon_zaozuosvg_telephone:before {
	content: "\e934";
	color: #a0a0a0
}

.icon_zaozuosvg_me11:before {
	content: "\e92d";
	color: #a0a0a0
}

.icon_zaozuosvg_order4:before {
	content: "\e91f";
	color: #a0a0a0
}

.icon_zaozuosvg_order3:before {
	content: "\e91e";
	color: #a0a0a0
}

.icon_zaozuosvg_order2:before {
	content: "\e91d";
	color: #a0a0a0
}

.icon_zaozuosvg_order1:before {
	content: "\e91c";
	color: #a0a0a0
}

.icon_zaozuosvg_me1:before {
	content: "\e91b";
	color: #a0a0a0
}

.icon_zaozuosvg_shoppngcart:before {
	content: "\e920";
	color: #a0a0a0
}

.icon_zaozuosvg_service:before {
	content: "\e923";
	color: #a0a0a0
}

.icon_zaozuosvg_me2:before {
	content: "\e924";
	color: #a0a0a0
}

.icon_zaozuosvg_me3:before {
	content: "\e925";
	color: #a0a0a0
}

.icon_zaozuosvg_me4:before {
	content: "\e926";
	color: #a0a0a0
}

.icon_zaozuosvg_me5:before {
	content: "\e927";
	color: #a0a0a0
}

.icon_zaozuosvg_me6:before {
	content: "\e928";
	color: #a0a0a0
}

.icon_zaozuosvg_me7:before {
	content: "\e929";
	color: #a0a0a0
}

.icon_zaozuosvg_me8:before {
	content: "\e92a";
	color: #a0a0a0
}

.icon_zaozuosvg_me9:before {
	content: "\e92b";
	color: #a0a0a0
}

.icon_zaozuosvg_me10:before {
	content: "\e92c";
	color: #a0a0a0
}

.icon_zaozuosvg_circle:before {
	content: "\e91a";
	color: #a0a0a0
}

.icon_zaozuosvg_close2:before {
	content: "\e919";
	color: #a0a0a0
}

.icon_zaozuosvg_wechat2:before {
	content: "\e918";
	color: #a0a0a0
}

.icon_zaozuosvg_wechat:before {
	content: "\e921";
	color: #a0a0a0
}

.icon_zaozuosvg_tip2:before {
	content: "\e922";
	color: #a0a0a0
}

.icon_zaozuosvg_gift:before {
	content: "\e917";
	color: #a0a0a0
}

.icon_zaozuosvg_discount:before {
	content: "\e916";
	color: #a0a0a0
}

.icon_zaozuosvg_tick:before {
	content: "\e915";
	color: #a0a0a0
}

.icon_zaozuosvg_bell:before {
	content: "\e911";
	color: #a0a0a0
}

.icon_zaozuosvg_cake:before {
	content: "\e910";
	color: #a0a0a0
}

.icon_zaozuosvg_sofa:before {
	content: "\e90f";
	color: #a0a0a0
}

.icon_zaozuosvg_identification:before {
	content: "\e90e";
	color: #a0a0a0
}

.icon_zaozuosvg_medal:before {
	content: "\e90c";
	color: #a0a0a0
}

.icon_zaozuosvg_homepage:before {
	content: "\e90b";
	color: #a0a0a0
}

.icon_zaozuosvg_camera:before {
	content: "\e90a";
	color: #a0a0a0
}

.icon_zaozuosvg_success:before {
	content: "\e909";
	color: #a0a0a0
}

.icon_zaozuosvg_right:before {
	content: "\e908";
	color: #a0a0a0
}

.icon_zaozuosvg_left:before {
	content: "\e907";
	color: #a0a0a0
}

.icon_zaozuosvg_arrowright:before {
	content: "\e906";
	color: #a0a0a0
}

.icon_zaozuosvg_tip:before {
	content: "\e905";
	color: #a0a0a0
}

.icon_zaozuosvg_location:before {
	content: "\e904";
	color: #a0a0a0
}

.icon_zaozuosvg_Collection-2:before {
	content: "\e903";
	color: #a0a0a0
}

.icon_zaozuosvg_add:before {
	content: "\e902";
	color: #a0a0a0
}

.icon_zaozuosvg_close:before {
	content: "\e901";
	color: #a0a0a0
}

.icon_zaozuosvg_arrowleft:before {
	content: "\e900";
	color: #a0a0a0
}

.icon_zaozuosvg_service1:before {
	content: "\e938";
	color: #a0a0a0
}

.icon_zaozuosvg_service2_web:before {
	content: "\e939";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo1:before {
	content: "\e941";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo2:before {
	content: "\e942";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo3:before {
	content: "\e944";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo4:before {
	content: "\e945";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo5:before {
	content: "\e946";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo6:before {
	content: "\e948";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo7:before {
	content: "\e949";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo8:before {
	content: "\e953";
	color: #a0a0a0
}

.icon_zaozuosvg_shoppingcart2:before {
	content: "\e954";
	color: #a0a0a0
}

.icon_zaozuosvg_delete:before {
	content: "\e955";
	color: #a0a0a0
}

.icon_zaozuosvg_share3:before {
	content: "\e952";
	color: #a0a0a0
}

.icon_zaozuosvg_save2:before {
	content: "\e94b";
	color: #a0a0a0
}

.icon_zaozuosvg_save1:before {
	content: "\e94c";
	color: #a0a0a0
}

.icon_zaozuosvg_shezhi:before {
	content: "\e947";
	color: #a0a0a0
}

.icon_zaozuosvg_shoppingcart1:before {
	content: "\e94a";
	color: #a0a0a0
}

.icon_zaozuosvg_delete2:before {
	content: "\e943";
	color: #a0a0a0
}

.icon_zaozuosvg_eraser2:before {
	content: "\e93e";
	color: #a0a0a0
}

.icon_zaozuosvg_ruler1:before {
	content: "\e93f";
	color: #a0a0a0
}

.icon_zaozuosvg_eraser1:before {
	content: "\e93d";
	color: #a0a0a0
}

.icon_zaozuosvg_ruler2:before {
	content: "\e940";
	color: #a0a0a0
}

.icon_zaozuosvg_out2:before {
	content: "\e956";
	color: #a0a0a0
}

.icon_zaozuosvg_out:before {
	content: "\e957";
	color: #a0a0a0
}

.icon_zaozuosvg_csomo1_2:before {
	content: "\e958";
	color: #a0a0a0
}

.icon_zaozuosvg_csomo2_2:before {
	content: "\e959";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo3_2:before {
	content: "\e95a";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo4_2:before {
	content: "\e95b";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo5_2:before {
	content: "\e95c";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo6_2:before {
	content: "\e95d";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo7_2:before {
	content: "\e95e";
	color: #a0a0a0
}

.icon_zaozuosvg_cosmo8_2:before {
	content: "\e95f";
	color: #a0a0a0
}

.icon_zaozuosvg_plus:before {
	content: "\e960";
	color: #a0a0a0
}

.icon_zaozuosvg_minus:before {
	content: "\e961";
	color: #a0a0a0
}

.icon_zaozuosvg_dingzhi:before {
	content: "\e962";
	color: #a0a0a0
}

.icon_m_cosmo_photo:before {
	content: "\e963";
	color: #a0a0a0
}

.icon_m_cosmo_clear:before {
	content: "\e965";
	color: #a0a0a0
}

.icon_m_cosmo_save:before {
	content: "\e966";
	color: #a0a0a0
}

.icon_m_cosmo_rule:before {
	content: "\e967";
	color: #a0a0a0
}

.icon_m_cosmo_service:before {
	content: "\e968";
	color: #a0a0a0
}

.icon_m_cosmo_share:before {
	content: "\e969";
	color: #a0a0a0
}

.icon_m_cosmo_3d:before {
	content: "\e96a";
	color: #a0a0a0
}

.icon_m_cosmo_cart:before {
	content: "\e964";
	color: #a0a0a0
}

.icon_m_circle_arrow:before {
	content: "\e96b";
	color: #a0a0a0
}

.icon_m_circle_arrow2:before {
	content: "\e96c";
	color: #a0a0a0
}